.card {
  margin: 50px auto 5px auto;
  border: 1px solid #6d767d;
  border-radius: 10px;
  padding: 40px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);

  max-width: 700px;
}
h1,
h2 {
  color: #00a19d;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 80px;
  display: inline;
}
h2 {
  font-size: 35px;
  margin: 0;
}

form {
  display: inline;
}

#search-bar {
  padding: 10px 340px 10px 5px;
  border: 1px solid #00a19d;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.search-section {
  margin-bottom: 40px;
}

.btn {
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding: 10px 15px;
}

.weather-icon {
  font-size: 100px;
  color: #6d767d;
  transform: rotate(234deg);
}

.unit {
  color: #00a19d;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  position: relative;
  bottom: 42px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

#unit-celsius {
  font-weight: bold;
}
.unit:hover {
  color: #047775;
  font-size: 22px;
}

.city-time-temp {
  padding-right: 0;
}

.current-time {
  margin-bottom: 20px;
}

.current-time,
.feels-like,
.weather-text,
.detailed-information,
.weather-tip {
  color: #e23e57;
  font-family: "Open Sans", sans-serif;
}

.detailed-information {
  margin-top: 100px;
  padding-left: 0;
}

.weather-text::first-letter {
  text-transform: capitalize;
}

.day-one,
.day-two,
.day-three,
.day-four,
.day-five,
.day-six {
  transition: all 100ms ease-in-out;
}

.day-one:hover,
.day-two:hover,
.day-three:hover,
.day-four:hover,
.day-five:hover,
.day-six:hover {
  font-weight: bolder;
}

.predicition {
  color: #6d767d;
  font-family: "Open Sans", sans-serif;
}

.prediction-row {
  margin: 30px 0;
}
.current-time {
  display: block;
}

.footer {
  font-size: 14px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#video_background {
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
#video_pattern {
  position: fixed;
  opacity: 0.5;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
